<div class="container">
  <div class="details">
    <app-title title="Update Your Profile"></app-title>
    <!-- <image-upload [userImage]="user.image" (imageSelected)="onImageSelected($event)"  buttonText="Profile image"></image-upload> -->
    <div class="imagebox" [ngClass]="{'width100':selectedFile}">
      <input #fileInput class="file-upload-input" id="file-input" type='file' (change)="onImageSelected($event)" accept="image/*" [hidden]="true" />
      <div class="file-upload-content" *ngIf="selectedFile">
        <img src="assets/close.png" alt="" class="closebtn" (click)="removeImage()">
        <img class="file-upload-image" [src]="selectedFile" alt="Uploaded image" />
        <div class="image-title-wrap">
        </div>
      </div>
    </div>
    <div *ngIf="!selectedFile" class="imageuploadbtn" (click)="triggerClick()"><img src="assets/addImage.png" alt=""></div>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
      [control]="fc.name"
      [showErrorsWhen]="isSubmitted"
      label="Name">
    `</text-input>

      <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      label="Email"
      type="email">
    `</text-input>


      <text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      label="Password"
      type="password">
    `</text-input>

      <text-input
      [control]="fc.confirmPassword"
      [showErrorsWhen]="isSubmitted"
      label="Confirm Password"
      type="password">
      `</text-input>

      <text-input
      [control]="fc.address"
      [showErrorsWhen]="isSubmitted"
      label="Address">
      `</text-input>


      <default-button text="Confirm"></default-button>
    </form>
  </div>
</div>
