.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.btntext{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease-in;
}
.btntext:hover{
  color: black;
}
.c-button {
  background-color: var(--hover-bg-color);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  font-weight: 100;
  opacity: 0.8;
  overflow: hidden;
  }

.c-button--gooey {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0.8rem;
  padding: 1.2em 3.4em;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: lightgreen;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}


.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

.quantSpan{
  background: var(--hover-bg-color2);
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}
