<div class="container">
  <button class="c-button c-button--gooey"
   [ngStyle]="{
     color:color,
     'font-size.rem':fontSizeRem,
     'width.rem':widthRem,
     'margin.rem':marginRem,
     'border-radius':borderRadRem,
     'height.rem':heightRem,
     'padding':padding
   }"
   [type]="type"
   (click)="onClick.emit()"
   title="{{text}}"
   >
   <span class="btntext">{{text}}<span *ngIf="showQuant" class="quantSpan">{{QuantityVal}}</span></span>
    <div class="c-button__blobs">
      <div></div>
      <div></div>
      <div></div>
    </div>

  </button>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
            <feBlend in="SourceGraphic" in2="goo"></feBlend>
        </filter>
    </defs>
</svg>
</div>
