header{
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid var(--col1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  opacity: 0.9;
}
.blanktop{
  padding: 1.3rem;
}
a{
  color:var(--font-color1);
  transition: all 0.3s ease;
}

a:hover{
  background: var(--col1);
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a{
  padding: 1rem;
  display: inline-block;
}

a span{
  background: var(--col2);
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}

.menu-container img{
  margin: 4px;
  border-radius: 50%;
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
  top: 57px;
  right: -80px;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
