
<header>
  <div class="container">
    <a routerLink="/" class="logo" title="Welcome to foodeal">Foodea!</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
            <img *ngIf="!userImage" src="assets/user.png" width="40" [title]="user.name">
            <img *ngIf="userImage" [src]="userImage" width="40" [title]="user.name">
          <div class="menu">
            <a routerLink="/profile" title="profile">Profile</a>
            <!-- <a routerLink="/orders" title="orders">Orders</a> -->
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page" title="{{cartQuantity}} items in cart ">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
