div{

  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 4rem;
  height: 2rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
	background: var(--col1);
  transition: all 1s;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 2.5rem;
}

/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

