.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details{
  width: 25rem;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
  cursor: pointer;
  font-weight: 500;
}
.login:hover{
  color: var(--col1);
}
