/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  background-color: var(--hover-bg-color2);
  border-radius: 100px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html{
  font-size:16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

:root {
  --btn-bg-color: rgb(130, 3, 130);
  --hover-bg-color2: rgb(216, 139, 216);
  --very-light-bg: rgb(235, 220, 235);
  --font-color1: rgb(50, 2, 50);

}
