/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  background-color: var(--col2);
  border-radius: 100px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html{
  font-size:16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

:root {
  --col1: rgb(130, 3, 130);
  --col2: rgb(216, 139, 216);
  --col3: rgb(235, 220, 235);
  --font-color1: rgb(50, 2, 50);

}

.multiselect-item-checkbox input[type=checkbox] + div:before{
  color: var(--col1) !important;
  border: 2px solid var(--col1) !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before{
  background: var(--col1) !important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
  background-color: var(--col1) !important;
  border: 2px solid var(--col1) !important;
}
.multiselect-dropdown .dropdown-btn {
  border-radius: 0.7rem !important;
  border: 1px solid var(--col2) !important;
}