.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
  position: relative;
}

.imagebox{
  display: flex;
  justify-content: center;
  position: relative;
}
.imageuploadbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  width: 37rem;
  height: 27rem;
  margin: 1rem;
  border: 1px dotted var(--col1);
  border-radius: 2rem;
}
.file-upload-content{
  width: inherit;
  position: relative;
  padding: 1rem;
}
.file-upload-image{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: auto;
  width: 36.35rem;

}
.details{
  width: 40rem;
  margin: 1rem;
}

.multi{
  margin-bottom: 0.5rem;
}