<div class="container">
  <!-- <div class="gmail">yashwantyadav71@gmail.com</div> -->
  <div class="gmail">welcome@foodeal.com</div>
  <div class="links">
    <a class="github" href="#" target="_blank"><img src="assets/facebook.png" alt="fb" width="30"></a>
    <a class="github" href="#" target="_blank"><img src="assets/instagram.png" alt="insta" width="30"></a>
    <!-- <a class="github" href="https://github.com/yashwant71" target="_blank"><img src="assets/github.png" alt="github" width="30"></a> -->
    <!-- <a class="linkedin" href="https://www.linkedin.com/in/yashwant-yadav-069a8a23a/" target="_blank"><img src="assets/linkedin.png" alt="linkedin" width="30"></a> -->
  </div>
</div>